django
numpy
Pillow
asgiref
django
djangorestframework
django-ninja
tensorflow==2.6.0
keras
torch
libsass 
django-compressor 
django-sass-processor
pytz


pymongo
django-seed
gunicorn
psycopg2-binary
sqlparse
mysqlclient
mongoengine